.children{
    opacity: 1;
    padding: 30px 30px;
    height: 60vh;
    display: flex;
    background-color: rgb(217, 224, 244);
    gap:20px;
    display: flex;
}
.right{
    flex: 1;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
}
.left{
    flex: 1;
    width: 50%;
    color: rgb(15, 14, 14);
    
    margin-bottom: 10px;
    font-size: 2px;
    font-weight: 400;
}
.children span{
    font-size: 35px;
    font-weight: 400;
}
.children p{
    padding-top: 10px;
    font-size: 20px;
}
