.home{
    background-color: aquamarine;
    
    
    background-image: url(../../imgs/backgroud.jpg);
    overflow-x: hidden;
   
    

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}
.left1{

    margin: 30px 50px;
    width: 80vh;
    color:whitesmoke;

}
.left1 span{
    font-size: 35px;
}
.left1 p{
    padding-top: 10px;
    font-size: 20px;
}