.home{
    
    position: relative;
    padding: 15px 30px;
    overflow-x: hidden;
   
    background-image: 
        url(./backgroud.jpg);
    background-size: "cover";
    height: 140vh;
    
    
    
    background-repeat:no-repeat; 
      

    
        
      

   
   
   
       
}

.left1{
    text-align: left;
    
    
    
    width: 60%;
   color: aliceblue;
    
   font-size: 15px;
   

}

.left1 span{
    color: rgb(6, 7, 9);
    
    margin-bottom: 10px;
    font-size: 23px;
    font-weight: 400;
    
    
}
.right1{
    position: relative;
    top: 150px;
    left: 540px;
}