.footer{
    height: 25vh;
    background-color: rgb(126, 241, 241);
    
    
    
   
    
    
    
 
   
    
  
    
}
.footer span{
   
    font-size: 20px;
    position: relative;
    left: 500px;
    top: 50px;
   
    
}
.footer span:hover{
    color: goldenrod;
}

