.Rights{
    height: 90vh;
    background-color: rgb(217, 224, 244);
    padding: 30px 50px;
}
span{
    
    font-size: 25px;
    font-weight: 400;
    
    

}
p{
    padding-top: 10px;
    font-size: 14px;
}
.image{
    float: right;
    position: relative;
    top: 30px;
    flex: 1;
    transform: scale(1.2);
}
.king{
    float: 2;
    width: 65%;

}