*{
    margin: 0;
    padding: 0;
    height: 6vh;
}
.Navbar{
    display: flex;
    margin: 0px;
    background-color: rgb(147, 194, 244);
    
   
    padding: 30px 30px;
    justify-content: space-between;


}
.leftNav>span{
    font-size: 25px;
 
}
ul{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;

}
li{
    margin: 0 12px;
}
li:hover{
    
        color: aliceblue;
        background:
          linear-gradient(
            to right,
            rgb(214, 227, 197),
            rgb(236, 239, 220)
          ),
          linear-gradient(
            to right,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 180, 1),
            rgba(0, 100, 200, 1)
        );
        background-size: 100% 3px, 0 3px;
        background-position: 100% 100%, 0 100%;
        background-repeat: no-repeat;
        transition: background-size 400ms;
      
      


}
button{
    background-color: rgb(112, 230, 230);
    color: black;
    border: 1px solid rgb(243, 224, 198);
    border-radius: 5px;
    
   
    
}  
button:hover {
    background-color: #dfee56;
    box-shadow: 0px 15px 20px rgba(213, 231, 53, 0.4);
    color: #fff;
    transform: scale(1.02);
  }