*{
    margin: 0;
    padding: 0px;
    height: 15vh;

    
}
span{
    font-size: 35px;}
.Navbar{
    
    display: flex;
    margin: 0px;
    background-color: rgb(185, 211, 240);
    
   
    padding: 50px 50px 10px 50px;
    justify-content: space-between;


}
.leftNav>span{
    font-size: 40px;
    font-weight: 400;
 
}
ul{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    

}
li{
    margin: 0 20px;
    font-size: 30px;
    padding-bottom: 0px;
}
li:hover{
        
        color: aliceblue;
        background:
          linear-gradient(
            to right,
            rgb(214, 227, 197),
            rgb(236, 239, 220)
          ),
          linear-gradient(
            to right,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 180, 1),
            rgba(0, 100, 200, 1)
        );
        background-size: 100% 3px, 0 3px;
        background-position: 1% 50%, 100% 100%;
        background-repeat: no-repeat;
        transition: background-size 400ms;
      
      


}
button{
    height: 40px;
    width: 100px;
    font-size: 25px;
    background-color: rgb(167, 240, 239);
    color: black;
    border: 1px solid rgb(243, 224, 198);
    border-radius: 5px;
    
   
    
}  
button:hover {
    background-color: #dfee56;
    box-shadow: 0px 15px 20px rgba(213, 231, 53, 0.4);
    color: #fff;
    transform: scale(1.02);
  }